services:
  backend:
    build:
      context: ../backend   # folder chứa code backend và requirements.txt
      dockerfile: ../docker/Dockerfile  # nếu Dockerfile nằm trong folder docker
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
